[submodule "assets"]
	path = assets
	url = git@github.com:bitmark-inc/autonomy-client-assets.git
[submodule "auto-test"]
	path = auto-test
	url = git@github.com:bitmark-inc/autonomy-automation-tests.git
