<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASamj0sHCBKpD_FsVHirFWAvQH9GG2tI0</string>
	<key>GCM_SENDER_ID</key>
	<string>887245084469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitmark.autonomywallet</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-sang</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-sang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887245084469:ios:875669b063548a75e1de7c</string>
</dict>
</plist>