<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>enterprise</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.bitmark.autonomy.inhouse</key>
        <string>Feral File Inhouse</string>
        <key>com.bitmark.autonomy.inhouse.notification</key>
        <string>Feral File Inhouse Notification</string>
    </dict>
    <key>iCloudContainerEnvironment</key>
    <string>Production</string>
</dict>
</plist>