name: Integration tests
on: 
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - develop
      - Auto-4-link-MetaMask-1451
jobs:
  build:
    runs-on: [self-hosted, linux, ci-local-bmvn]
    steps:      
      # Checkout code and get packages.
      - name: Checkout code
        uses: actions/checkout@v3
      # Set build number
      - name: Set env
        run: |
          echo "FLUTTER_VERSION_NAME=0.100.0" >> $GITHUB_ENV
          echo "FLUTTER_VERSION_CODE=10" >> $GITHUB_ENV
      - name: Submoudles update
        run: git submodule update --init --recursive
      - run: flutter pub cache repair
      - run: flutter pub get 
      # Build app
      - name: Build to flutter apk inhouse app
        run: flutter build apk --flavor inhouse
      
      # Run integration test
      - name: Run Flutter Driver tests for Suite "Link account from MetaMask app"
        run: |
          cd $GITHUB_WORKSPACE
          flutter pub run test integration_test/external_tests/mobile_external_app/linkaccountbyMetamaskapp_test.dart
      # - name: Run Flutter Driver tests for Suite "Send XTZ"
      #   run: |
      #     cd /media/bitmark/3406ce86-9243-41d7-aa8f-6f7ee167531b/autonomy-client
      #     flutter test integration_test/tests/send_xtz_test.dart --flavor inhouse
      # - name: Run Flutter Driver tests for Suite "Check Artwork detail"
      #   run: |
      #     cd /media/bitmark/3406ce86-9243-41d7-aa8f-6f7ee167531b/autonomy-client
      #     flutter test integration_test/tests/check_artwork_detail_test.dart --flavor inhouse
      - name: Report Status
        if: always()
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ job.status }}
          notify_when: 'failure,success,warnings'
          notification_title: Automation  - Integration test execution
          message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}@{branch}> on commit <{commit_url}|{commit_sha}>"
          footer: "<{run_url}|View Run>"
          mention_users: 'U03NZ7JU8KC'
          mention_users_when: 'failure,warnings'      
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.WEBHOOK_LOCAL_BITMARKVN_CI_SLACK }}